<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mall.item.mapper.OmsOrderItemMapper">

    <resultMap type="OmsOrderItem" id="OmsOrderItemResult">
        <result property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="orderSn" column="order_sn"/>
        <result property="productId" column="product_id"/>
        <result property="productPic" column="product_pic"/>
        <result property="productName" column="product_name"/>
        <result property="productBrand" column="product_brand"/>
        <result property="productSn" column="product_sn"/>
        <result property="productPrice" column="product_price"/>
        <result property="productQuantity" column="product_quantity"/>
        <result property="productSkuId" column="product_sku_id"/>
        <result property="productSkuCode" column="product_sku_code"/>
        <result property="productCategoryId" column="product_category_id"/>
        <result property="sp1" column="sp1"/>
        <result property="sp2" column="sp2"/>
        <result property="sp3" column="sp3"/>
        <result property="promotionName" column="promotion_name"/>
        <result property="promotionAmount" column="promotion_amount"/>
        <result property="couponAmount" column="coupon_amount"/>
        <result property="integrationAmount" column="integration_amount"/>
        <result property="realAmount" column="real_amount"/>
        <result property="giftIntegration" column="gift_integration"/>
        <result property="giftGrowth" column="gift_growth"/>
        <result property="productAttr" column="product_attr"/>
        <result property="storeId" column="store_id"/>
    </resultMap>

    <sql id="selectOmsOrderItemVo">
        select id, order_id, order_sn, product_id, product_pic, product_name, product_brand, product_sn, product_price, product_quantity, product_sku_id, product_sku_code, product_category_id, sp1, sp2, sp3, promotion_name, promotion_amount, coupon_amount, integration_amount, real_amount, gift_integration, gift_growth, product_attr, store_id from oms_order_item
    </sql>

    <select id="selectOmsOrderItemList" parameterType="OmsOrderItem" resultMap="OmsOrderItemResult">
        <include refid="selectOmsOrderItemVo"/>
        <where>
            <if test="orderId != null ">and order_id = #{orderId}</if>
            <if test="orderSn != null  and orderSn != ''">and order_sn = #{orderSn}</if>
            <if test="productId != null ">and product_id = #{productId}</if>
            <if test="productPic != null  and productPic != ''">and product_pic = #{productPic}</if>
            <if test="productName != null  and productName != ''">and product_name like concat('%', #{productName},
                '%')
            </if>
            <if test="productBrand != null  and productBrand != ''">and product_brand = #{productBrand}</if>
            <if test="productSn != null  and productSn != ''">and product_sn = #{productSn}</if>
            <if test="productPrice != null ">and product_price = #{productPrice}</if>
            <if test="productQuantity != null ">and product_quantity = #{productQuantity}</if>
            <if test="productSkuId != null ">and product_sku_id = #{productSkuId}</if>
            <if test="productSkuCode != null  and productSkuCode != ''">and product_sku_code = #{productSkuCode}</if>
            <if test="productCategoryId != null ">and product_category_id = #{productCategoryId}</if>
            <if test="sp1 != null  and sp1 != ''">and sp1 = #{sp1}</if>
            <if test="sp2 != null  and sp2 != ''">and sp2 = #{sp2}</if>
            <if test="sp3 != null  and sp3 != ''">and sp3 = #{sp3}</if>
            <if test="promotionName != null  and promotionName != ''">and promotion_name like concat('%',
                #{promotionName}, '%')
            </if>
            <if test="promotionAmount != null ">and promotion_amount = #{promotionAmount}</if>
            <if test="couponAmount != null ">and coupon_amount = #{couponAmount}</if>
            <if test="integrationAmount != null ">and integration_amount = #{integrationAmount}</if>
            <if test="realAmount != null ">and real_amount = #{realAmount}</if>
            <if test="giftIntegration != null ">and gift_integration = #{giftIntegration}</if>
            <if test="giftGrowth != null ">and gift_growth = #{giftGrowth}</if>
            <if test="productAttr != null  and productAttr != ''">and product_attr = #{productAttr}</if>
            <if test="storeId != null ">and store_id = #{storeId}</if>
        </where>
    </select>

    <select id="selectOmsOrderItemById" parameterType="Long" resultMap="OmsOrderItemResult">
        <include refid="selectOmsOrderItemVo"/>
        where id = #{id}
    </select>

    <insert id="insertOmsOrderItem" parameterType="OmsOrderItem" useGeneratedKeys="true" keyProperty="id">
        insert into oms_order_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null ">order_id,</if>
            <if test="orderSn != null  and orderSn != ''">order_sn,</if>
            <if test="productId != null ">product_id,</if>
            <if test="productPic != null  and productPic != ''">product_pic,</if>
            <if test="productName != null  and productName != ''">product_name,</if>
            <if test="productBrand != null  and productBrand != ''">product_brand,</if>
            <if test="productSn != null  and productSn != ''">product_sn,</if>
            <if test="productPrice != null ">product_price,</if>
            <if test="productQuantity != null ">product_quantity,</if>
            <if test="productSkuId != null ">product_sku_id,</if>
            <if test="productSkuCode != null  and productSkuCode != ''">product_sku_code,</if>
            <if test="productCategoryId != null ">product_category_id,</if>
            <if test="sp1 != null  and sp1 != ''">sp1,</if>
            <if test="sp2 != null  and sp2 != ''">sp2,</if>
            <if test="sp3 != null  and sp3 != ''">sp3,</if>
            <if test="promotionName != null  and promotionName != ''">promotion_name,</if>
            <if test="promotionAmount != null ">promotion_amount,</if>
            <if test="couponAmount != null ">coupon_amount,</if>
            <if test="integrationAmount != null ">integration_amount,</if>
            <if test="realAmount != null ">real_amount,</if>
            <if test="giftIntegration != null ">gift_integration,</if>
            <if test="giftGrowth != null ">gift_growth,</if>
            <if test="productAttr != null  and productAttr != ''">product_attr,</if>
            <if test="storeId != null ">store_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null ">#{orderId},</if>
            <if test="orderSn != null  and orderSn != ''">#{orderSn},</if>
            <if test="productId != null ">#{productId},</if>
            <if test="productPic != null  and productPic != ''">#{productPic},</if>
            <if test="productName != null  and productName != ''">#{productName},</if>
            <if test="productBrand != null  and productBrand != ''">#{productBrand},</if>
            <if test="productSn != null  and productSn != ''">#{productSn},</if>
            <if test="productPrice != null ">#{productPrice},</if>
            <if test="productQuantity != null ">#{productQuantity},</if>
            <if test="productSkuId != null ">#{productSkuId},</if>
            <if test="productSkuCode != null  and productSkuCode != ''">#{productSkuCode},</if>
            <if test="productCategoryId != null ">#{productCategoryId},</if>
            <if test="sp1 != null  and sp1 != ''">#{sp1},</if>
            <if test="sp2 != null  and sp2 != ''">#{sp2},</if>
            <if test="sp3 != null  and sp3 != ''">#{sp3},</if>
            <if test="promotionName != null  and promotionName != ''">#{promotionName},</if>
            <if test="promotionAmount != null ">#{promotionAmount},</if>
            <if test="couponAmount != null ">#{couponAmount},</if>
            <if test="integrationAmount != null ">#{integrationAmount},</if>
            <if test="realAmount != null ">#{realAmount},</if>
            <if test="giftIntegration != null ">#{giftIntegration},</if>
            <if test="giftGrowth != null ">#{giftGrowth},</if>
            <if test="productAttr != null  and productAttr != ''">#{productAttr},</if>
            <if test="storeId != null ">#{storeId},</if>
        </trim>
    </insert>

    <update id="updateOmsOrderItem" parameterType="OmsOrderItem">
        update oms_order_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null ">order_id = #{orderId},</if>
            <if test="orderSn != null  and orderSn != ''">order_sn = #{orderSn},</if>
            <if test="productId != null ">product_id = #{productId},</if>
            <if test="productPic != null  and productPic != ''">product_pic = #{productPic},</if>
            <if test="productName != null  and productName != ''">product_name = #{productName},</if>
            <if test="productBrand != null  and productBrand != ''">product_brand = #{productBrand},</if>
            <if test="productSn != null  and productSn != ''">product_sn = #{productSn},</if>
            <if test="productPrice != null ">product_price = #{productPrice},</if>
            <if test="productQuantity != null ">product_quantity = #{productQuantity},</if>
            <if test="productSkuId != null ">product_sku_id = #{productSkuId},</if>
            <if test="productSkuCode != null  and productSkuCode != ''">product_sku_code = #{productSkuCode},</if>
            <if test="productCategoryId != null ">product_category_id = #{productCategoryId},</if>
            <if test="sp1 != null  and sp1 != ''">sp1 = #{sp1},</if>
            <if test="sp2 != null  and sp2 != ''">sp2 = #{sp2},</if>
            <if test="sp3 != null  and sp3 != ''">sp3 = #{sp3},</if>
            <if test="promotionName != null  and promotionName != ''">promotion_name = #{promotionName},</if>
            <if test="promotionAmount != null ">promotion_amount = #{promotionAmount},</if>
            <if test="couponAmount != null ">coupon_amount = #{couponAmount},</if>
            <if test="integrationAmount != null ">integration_amount = #{integrationAmount},</if>
            <if test="realAmount != null ">real_amount = #{realAmount},</if>
            <if test="giftIntegration != null ">gift_integration = #{giftIntegration},</if>
            <if test="giftGrowth != null ">gift_growth = #{giftGrowth},</if>
            <if test="productAttr != null  and productAttr != ''">product_attr = #{productAttr},</if>
            <if test="storeId != null ">store_id = #{storeId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOmsOrderItemById" parameterType="Long">
        delete from oms_order_item where id = #{id}
    </delete>

    <delete id="deleteOmsOrderItemByIds" parameterType="String">
        delete from oms_order_item where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
