<!DOCTYPE html>
<html lang="zh" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('店铺列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>


                        <li>
                            <p>店名：</p>
                            <input name="name" type="text"/>
                        </li>
                        <li>
                            <p>审核状态：</p>
                            <select name="status">
                                <option value="">所有</option>
                            </select>
                        </li>

                        <li>
                            <p>联系QQ：</p>
                            <input name="contactQq" type="text"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
           <!-- <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="mall:store:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="mall:store:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="mall:store:remove">
                <i class="fa fa-remove"></i> 删除
            </a>-->
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="mall:store:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table data-mobile-responsive="true" id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('mall:store:edit')}]];
    var removeFlag = [[${@permission.hasPermi('mall:store:remove')}]];
    var prefix = ctx + "mall/store";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "店铺",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '编号'
                },
                {
                    field: 'name',
                    title: '商户名'
                },

                {
                    field: 'logo',
                    title: '图标',
                    formatter: function (value, row, index) {
                        return '<img src="' + row.logo + '" width="50px" height="50px"> ';
                    }
                },
                {
                    visible: editFlag == 'hidden' ? false : true,
                    title: '审核状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row);
                    }
                },
                {
                    visible: editFlag == 'hidden' ? false : true,
                    title: '精品店铺标识',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return boutiQueTools(row);
                    }
                },

                {
                    field: 'expireTime',
                    title: '到期时间'
                },
                {
                    field: 'goodsCount',
                    title: '添加商品数'
                },
                {
                    field: 'orderCount',
                    title: '支付订单数'
                },

                {
                    field: 'payAmount',
                    title: '支付金额'
                },
                {
                    field: 'articleCount',
                    title: '文章数'
                },
                {
                    field: 'memberCount',
                    title: '添加会员数'
                },

                {
                    field: 'smsQuantity',
                    title: '短信数量'
                },
                {
                    field: 'registerType',
                    title: '注册类型'
                },

                {
                    field: 'addressDetail',
                    title: '地址细节'
                },
                {
                    field: 'tryTime',
                    title: '注册时间'
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                     //   actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                    //    actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    /* 用户状态显示 */
    function statusTools(row) {
        if (row.status == 3) {
            return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.id + '\')"></i> ';
        } else {
            return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.id + '\')"></i> ';
        }
    }

    /* 用户管理-停用 */
    function disable(userId) {
        $.modal.confirm("确认要停用商户吗？", function () {
            $.operate.post(prefix + "/changeStatus", {"id": userId, "status":1});
        })
    }

    /* 用户管理启用 */
    function enable(userId) {
        $.modal.confirm("确认要启用商户吗？", function () {
            $.operate.post(prefix + "/changeStatus", {"id": userId, "status": 3});
        })
    }
    function boutiQueTools(row) {
        if (row.isBoutique == 0) {
            return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enableBoutiQue(\'' + row.id + '\')"></i> ';
        } else {
            return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disableBoutiQue(\'' + row.id + '\')"></i> ';
        }
    }
    /* 精品标识-停用 */
    function disableBoutiQue(userId) {
        $.modal.confirm("确认要关闭此店铺精品标识吗？", function () {
            $.operate.post(prefix + "/changeStatus", {"id": userId, "isBoutique": 0});
        })
    }

    /* 精品标识启用 */
    function enableBoutiQue(userId) {
        $.modal.confirm("确认要启用此店铺精品标识吗？", function () {
            $.operate.post(prefix + "/changeStatus", {"id": userId, "isBoutique": 1});
        })
    }
</script>
</body>
</html>
